absl-py==2.0.0
altgraph==0.17.4
astunparse==1.6.3
attrs==23.1.0
cachetools==5.3.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.0
contourpy==1.1.1
cycler==0.12.1
dill==0.3.8
et-xmlfile==1.1.0
flatbuffers==23.5.26
fonttools==4.43.1
gast==0.5.4
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.59.0
h5py==3.9.0
idna==3.7
importlib-metadata==6.8.0
importlib-resources==6.1.0
joblib==1.3.2
keras==3.9.0
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5
MarkupSafe==2.1.3
matplotlib==3.8.0
mediapipe==0.10.5
ml-dtypes==0.2.0
numpy==1.26.0
oauthlib==3.2.2
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.2
pefile==2023.2.7
Pillow==10.3.0
protobuf==4.25.8
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyparsing==3.1.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.8.2
pywin32-ctypes==0.2.2
requests==2.32.4
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.5.0
scipy==1.11.3
screeninfo==0.8.1
six==1.16.0
sounddevice==0.4.6
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.2.0
typing_extensions==4.8.0
urllib3==2.2.2
Werkzeug==3.0.6
wrapt==1.14.1
zipp==3.19.1
